<!--The content below is only a placeholder and can be replaced.-->
<h1>
    Welcome to {{ title }}!
</h1>


<h4>ngStyle</h4>

<div [ngStyle]="{'background-color': 'indianred'}">
    One way to set styles is by using the NgStyle directive and assigning it an object literal
</div>

<div [ngStyle]="{'color': 'springgreen'}"></div>

<div>
  <h4>Tarnary operator</h4>
    <ul>
      <li *ngFor="let person of people"
          [ngStyle]="{'color':person.country === 'UK' ? 'green' : 'red' }">
        {{ person.country }}
      </li>
    </ul>
    <h4>ngStyle and function</h4>
    <ul *ngFor="let person of people">
        <!-- We set the color of the text according to the value that’s returned from the getColor function -->
        <li [ngStyle]="{'color':getColor(person.country)}"> {{ person.name }} ({{ person.country }})
        </li>
    </ul>


    <h4 [ngStyle]="{'font-size.px':24}">
      Alternative syntax
    </h4>
    <!-- As well as using the nyStyle directive we can also set individual style properties using the [style.<property>]" syntax, for example [style.color]="getColor(person.country)" -->

    <ul *ngFor="let person of people">
      <li [ngStyle]="{'font-size.px': 20}"
          [style.color]="getColor(person.country)">{{ person.name }} ({{ person.country }})
      </li>
    </ul>
</div>


<div>
  <h4 [ngStyle]="{'font-size.px': 30, 'color': 'orange'}">ngClass</h4>

  <ul *ngFor="let person of people">
      <li [ngClass]="{
        'text-success':person.country === 'UK',
        'text-primary':person.country === 'USA',
        'text-danger':person.country === 'HK'
      }">{{ person.name }} ({{ person.country }})
      </li>
    </ul>
</div>

<div>
    <h4>Alternative syntax</h4>
    <ul *ngFor="let person of people">
        <li [class.text-success]="person.country === 'UK'"
            [class.text-primary]="person.country === 'USA'"
            [class.text-danger]="person.country === 'HK'">{{ person.name }} ({{ person.country }})
        </li>
      </ul>
</div>
